$folder : 'Forest';

.container {
    // Forest themed map
    &.forest {
        background-image: url('../images/#{$folder}/background.png');

        .row {
            #zoo {
                .grid {
                    .row {
                        .tile {
                            background-image: url('../images/#{$folder}/tile.png');
                            background-size: $tile-size;

                            &.obstacle-1 {
                                background-image: url("../images/#{$folder}/obstacle1.png");
                            }

                            &.obstacle-2 {
                                background-image: url("../images/#{$folder}/obstacle2.png");
                            }

                            &.obstacle-3 {
                                background-image: url("../images/#{$folder}/obstacle3.png");
                            }

                            &:hover{
                                filter: sepia(90%) hue-rotate(760deg);
                                cursor: pointer;
                            }
                        }

                        // Left column
                        .tile:nth-child(1) {
                            background-image: url('../images/#{$folder}/border/left.png');
                        }

                        // Right column
                        .tile:last-child {
                            background-image: url('../images/#{$folder}/border/right.png');
                        }

                        // Top row
                        &:nth-child(1) {
                            .tile {
                                background-image: url('../images/#{$folder}/border/top.png');
                            }

                            // Top left tile
                            .tile:nth-child(1) {
                                background-image: url('../images/#{$folder}/border/top_left.png');
                            }

                            // Top right tile
                            .tile:last-child {
                                background-image: url('../images/#{$folder}/border/top_right.png');
                            }
                        }

                        // Bottom row
                        &:last-child {
                            .tile {
                                background-image: url('../images/#{$folder}/border/bottom.png');    
                            }

                            // Bottom left tile
                            .tile:nth-child(1) {
                                background-image: url('../images/#{$folder}/border/bottom_left.png');
                            }

                            // Botom right tile
                            .tile:last-child {
                                background-image: url('../images/#{$folder}/border/bottom_right.png');
                            }
                        }
                    }
                }
            }
        }
    }
}