@font-face {
    font-family: 'Apple ][';
    src: local('Apple ]['), local('Apple'),
        url('../fonts/Apple.woff2') format('woff2'),
        url('../fonts/Apple.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}