.container {
    // Forest themed map
    &.forest {
        background-image: url('../images/Forest/grass1.png');

        .row {
            #zoo {
                .grid {
                    .row {
                        .tile {
                            background-image: url('../images/Forest/grass2.png');
                            background-size: $tile-size;

                            &.obstacle-1 {
                                background-image: url('../images/Forest/obstacle1.png');
                            }

                            &.obstacle-2 {
                                background-image: url('../images/Forest/obstacle2.png');
                            }

                            &.obstacle-3 {
                                background-image: url('../images/Forest/obstacle3.png');
                            }
                        }

                        // Left column
                        .tile:nth-child(1) {
                            background-image: url('../images/Forest/border/left.png');
                        }

                        // Right column
                        .tile:last-child {
                            background-image: url('../images/Forest/border/right.png');
                        }

                        // Top row
                        &:nth-child(1) {
                            .tile {
                                background-image: url('../images/Forest/border/top.png');
                            }

                            // Top left tile
                            .tile:nth-child(1) {
                                background-image: url('../images/Forest/border/corner_top_left.png');
                            }

                            // Top right tile
                            .tile:last-child {
                                background-image: url('../images/Forest/border/corner_top_right.png');
                            }
                        }

                        // Bottom row
                        &:last-child {
                            .tile {
                                background-image: url('../images/Forest/border/bottom.png');    
                            }

                            // Bottom left tile
                            .tile:nth-child(1) {
                                background-image: url('../images/Forest/border/corner_bottom_left.png');
                            }

                            // Botom right tile
                            .tile:last-child {
                                background-image: url('../images/Forest/border/corner_bottom_right.png');
                            }
                        }
                    }
                }
            }
        }
    }
}