// Vars
$tile-size: 64px;
$first-border-size: 10px;
$second-border-size: 5px;
$third-border-size: 5px;

// CSS reset
@import 'reset';

// Fonts
@import 'fonts';

// Imports
@import 'side-box';
@import 'forest';
@import 'desert';
@import 'snow';
@import 'monster-configurator';

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-size: $tile-size;

    &.fade-out{
        animation: fade-out 300ms;
        animation-fill-mode: forwards;
    }

    &.fade-in{
        animation: fade-in 300ms;
        animation-fill-mode: forwards;
    }
    
    @keyframes fade-out{
        0%   { opacity: 1; }
        100% { opacity: 0; }
    }

    @keyframes fade-in{
        0%   { opacity: 0; }
        100% { opacity: 1; }
    }

    .row {
        display: flex;

        &.main-header {
            justify-content: center;
            flex: 0 1 $tile-size;
        }

        &.main-row {
            flex: 1 1 auto;
        }

        &.main-footer {
            flex: 0 1 $tile-size;
            justify-content: center;
        }

        * {
            box-sizing: border-box;
        }

        #configurator {
            width: 25%;
            border-left: 0;
            margin-left: 0;
        }

        #statistics {
            width: 25%;
            position: relative;
            overflow: hidden;

            #statistics-content {
                position: absolute;
                right: calc(-100% - #{$second-border-size} - #{$third-border-size});
                width: 100%;
                transition: 0.5s ease;
                margin-right: 0;
                border-right: 0;

                &.show {
                    right: 0 - $second-border-size - $third-border-size;
                }
            }
        }

        #zoo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: auto;
            background-size: $tile-size;
            
            .grid {
                display: flex;
                flex-direction: column;
                align-items: center;

                .row {
                    display: flex;

                    .tile {
                        width: $tile-size;
                        height: $tile-size;
                        text-align: center;
                        // border: 1px solid;
                        line-height: $tile-size;
                        user-select: none;

                        img{
                            pointer-events: none;
                        }

                        &.hide-monster{
                            img{
                                display: none;
                            }
                        }
                    }
                }

                
            }

            &.drag{
                .dragImg{
                    display: block;
                }
            }

            .dragImg{
                display: none;
                pointer-events: none;
                position: absolute;
                user-select: none;
            }
        }
    }
}