// Vars
$tile-size: 64px;
$first-border-size: 10px;
$second-border-size: 5px;
$third-border-size: 5px;

// CSS reset
@import 'reset';

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    background-size: $tile-size;

    &.forest {
        background-image: url('../images/Forest/grass1.png');
    }

    .row {
        display: flex;

        &.main-header {
            justify-content: center;
            flex: 0 1 $tile-size;
        }

        &.main-row {
            flex: 1 1 auto;
        }

        &.main-footer {
            flex: 0 1 $tile-size;
            justify-content: center;
        }

        * {
            box-sizing: border-box;
        }

        #configurator {
            width: 25%;
            background-color: #F6F6F6;
            position: relative;
            border: $first-border-size solid #5E546F;
            border-left: 0;
            padding: 20px;
            box-shadow: inset 0px 0 3px 0px grey, 5px 9px 34px 12px grey;

            &:before {
                content: "";
                position: absolute;
                top: 0 - $first-border-size - $second-border-size;
                left: 0 - $first-border-size - $second-border-size;
                right: 0 - $first-border-size - $second-border-size;
                bottom: 0 - $first-border-size - $second-border-size;
                border: $second-border-size solid #7574BD;
            }

            &:after {
                content: "";
                position: absolute;
                top: 0 - $first-border-size - $second-border-size - $third-border-size;
                left: 0 - $first-border-size - $second-border-size - $third-border-size;
                right: 0 - $first-border-size - $second-border-size - $third-border-size;
                bottom: 0 - $first-border-size - $second-border-size - $third-border-size;
                border: $third-border-size solid black;
            }
        }

        #statistics {
            width: 25%;
            position: relative;
            overflow: hidden;

            #statistics-content {
                position: absolute;
                right: -100%;
                background-color: purple;
                height: 100%;
                width: 100%;
                transition: 1s;
                color: white;

                &.show {
                    right: 0;
                }
            }
        }

        #zoo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: scroll;
            background-size: $tile-size;
            
            .zoo-grid {
                display: flex;
                flex-direction: column;
                align-items: center;

                .zoo-row {
                    display: flex;

                    .zoo-cage {
                        width: $tile-size;
                        height: $tile-size;
                        text-align: center;
                        border: 1px solid;
                        line-height: $tile-size;
                    }
                }
            }
        }
    }
}