// Vars
$tile-size: 64px;

// CSS reset
@import 'reset';

.container {
    height: 100%;
    display: flex;
    flex-flow: column;

    .row {
        display: flex;

        &.main-header {
            justify-content: center;
            flex: 0 1 auto;
        }

        &.main-row {
            flex: 1 1 auto;
        }

        &.main-footer {
            flex: 0 1 auto;
            justify-content: center;
        }

        * {
            box-sizing: border-box;
        }

        #configurator {
            width: 25%;
            background-color: orange;
        }

        #statistics {
            width: 25%;
            background-color: navy;
            position: relative;
            overflow: hidden;

            #statistics-content {
                position: absolute;
                right: -100%;
                background-color: purple;
                height: 100%;
                width: 100%;
                transition: 1s;
                color: white;

                &.show {
                    right: 0;
                }
            }
        }

        #zoo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow-x: scroll;
            background-size: $tile-size;
            
            .zoo-grid {
                display: flex;
                flex-direction: column;
                align-items: center;

                .zoo-row {
                    display: flex;

                    .zoo-cage {
                        width: $tile-size;
                        height: $tile-size;
                        text-align: center;
                        border: 1px solid;
                        line-height: $tile-size;
                    }
                }
            }
        }
    }
}