monster-configurator {
    display: flex;
    flex-flow: column;

    .monster-icon {
        width: 100px;
        margin: auto;
        margin-bottom: 20px;
    }

    label {
        font-family: pixel;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
        font-size: 10px;
    }

    select,
    input {
        display: block;
        font-family: pixel;
        padding: 5px 10px;
        border-radius: 0;
        border: 2px solid #676767;
        width: 100%;
        line-height: 2em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #B3B3B3;
        text-transform: uppercase;
        font-size: 16px;
        color: #424242;
        box-shadow: inset 1px 1px 2px 0px rgba(0,0,0,0.5);
        margin-bottom: 20px;
    }

    select {
        background-image: url('../images/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: right .7em top 50%, 0 0;
    }

    .btn-container {
        display: flex;
    }

    button {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        font-family: pixel;
        text-transform: uppercase;
        padding: 10px;
        border: 2px solid #676767;
        background-color: #F5F5C8;
        font-size: 16px;

        &#configurator-save-btn {
            width:100%;
            margin-left: 10px;
        }
    }
}