/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: pixel;
  src: URL("../fonts/Pokemon Classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.side-box {
  background-color: #F6F6F6;
  position: relative;
  border: 10px solid #5E546F;
  padding: 20px;
  margin: 20px;
  max-height: 100%;
  overflow-y: auto; }
  .side-box:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 5px solid #7574BD;
    z-index: -1; }
  .side-box:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 5px solid black;
    z-index: -1; }

.container.forest {
  background-image: url("../images/Forest/background.png"); }
  .container.forest .row #zoo .grid .row .tile {
    background-image: url("../images/Forest/tile.png");
    background-size: 64px; }
    .container.forest .row #zoo .grid .row .tile.obstacle-1 {
      background-image: url("../images/Forest/obstacle1.png"); }
    .container.forest .row #zoo .grid .row .tile.obstacle-2 {
      background-image: url("../images/Forest/obstacle2.png"); }
    .container.forest .row #zoo .grid .row .tile.obstacle-3 {
      background-image: url("../images/Forest/obstacle3.png"); }
    .container.forest .row #zoo .grid .row .tile:hover {
      filter: sepia(90%) hue-rotate(760deg);
      cursor: pointer; }
  .container.forest .row #zoo .grid .row .tile:nth-child(1) {
    background-image: url("../images/Forest/border/left.png"); }
  .container.forest .row #zoo .grid .row .tile:last-child {
    background-image: url("../images/Forest/border/right.png"); }
  .container.forest .row #zoo .grid .row:nth-child(1) .tile {
    background-image: url("../images/Forest/border/top.png"); }
  .container.forest .row #zoo .grid .row:nth-child(1) .tile:nth-child(1) {
    background-image: url("../images/Forest/border/top_left.png"); }
  .container.forest .row #zoo .grid .row:nth-child(1) .tile:last-child {
    background-image: url("../images/Forest/border/top_right.png"); }
  .container.forest .row #zoo .grid .row:last-child .tile {
    background-image: url("../images/Forest/border/bottom.png"); }
  .container.forest .row #zoo .grid .row:last-child .tile:nth-child(1) {
    background-image: url("../images/Forest/border/bottom_left.png"); }
  .container.forest .row #zoo .grid .row:last-child .tile:last-child {
    background-image: url("../images/Forest/border/bottom_right.png"); }

.container.desert {
  background-image: url("../images/Desert/background.png"); }
  .container.desert .row #zoo .grid .row .tile {
    background-image: url("../images/Desert/tile.png");
    background-size: 64px; }
    .container.desert .row #zoo .grid .row .tile.obstacle-1 {
      background-image: url("../images/Desert/obstacle1.png"); }
    .container.desert .row #zoo .grid .row .tile.obstacle-2 {
      background-image: url("../images/Desert/obstacle2.png"); }
    .container.desert .row #zoo .grid .row .tile.obstacle-3 {
      background-image: url("../images/Desert/obstacle3.png"); }
    .container.desert .row #zoo .grid .row .tile:hover {
      filter: sepia(90%) hue-rotate(700deg);
      cursor: pointer; }
  .container.desert .row #zoo .grid .row .tile:nth-child(1) {
    background-image: url("../images/Desert/border/left.png"); }
  .container.desert .row #zoo .grid .row .tile:last-child {
    background-image: url("../images/Desert/border/right.png"); }
  .container.desert .row #zoo .grid .row:nth-child(1) .tile {
    background-image: url("../images/Desert/border/top.png"); }
  .container.desert .row #zoo .grid .row:nth-child(1) .tile:nth-child(1) {
    background-image: url("../images/Desert/border/top_left.png"); }
  .container.desert .row #zoo .grid .row:nth-child(1) .tile:last-child {
    background-image: url("../images/Desert/border/top_right.png"); }
  .container.desert .row #zoo .grid .row:last-child .tile {
    background-image: url("../images/Desert/border/bottom.png"); }
  .container.desert .row #zoo .grid .row:last-child .tile:nth-child(1) {
    background-image: url("../images/Desert/border/bottom_left.png"); }
  .container.desert .row #zoo .grid .row:last-child .tile:last-child {
    background-image: url("../images/Desert/border/bottom_right.png"); }

.container.snow {
  background-image: url("../images/Snow/background.png"); }
  .container.snow .row #zoo .grid .row .tile {
    background-image: url("../images/Snow/tile.png");
    background-size: 64px; }
    .container.snow .row #zoo .grid .row .tile.obstacle-1 {
      background-image: url("../images/Snow/obstacle1.png"); }
    .container.snow .row #zoo .grid .row .tile.obstacle-2 {
      background-image: url("../images/Snow/obstacle2.png"); }
    .container.snow .row #zoo .grid .row .tile.obstacle-3 {
      background-image: url("../images/Snow/obstacle3.png"); }
    .container.snow .row #zoo .grid .row .tile:hover {
      filter: sepia(90%) hue-rotate(530deg);
      cursor: pointer; }
  .container.snow .row #zoo .grid .row .tile:nth-child(1) {
    background-image: url("../images/Snow/border/left.png"); }
  .container.snow .row #zoo .grid .row .tile:last-child {
    background-image: url("../images/Snow/border/right.png"); }
  .container.snow .row #zoo .grid .row:nth-child(1) .tile {
    background-image: url("../images/Snow/border/top.png"); }
  .container.snow .row #zoo .grid .row:nth-child(1) .tile:nth-child(1) {
    background-image: url("../images/Snow/border/top_left.png"); }
  .container.snow .row #zoo .grid .row:nth-child(1) .tile:last-child {
    background-image: url("../images/Snow/border/top_right.png"); }
  .container.snow .row #zoo .grid .row:last-child .tile {
    background-image: url("../images/Snow/border/bottom.png"); }
  .container.snow .row #zoo .grid .row:last-child .tile:nth-child(1) {
    background-image: url("../images/Snow/border/bottom_left.png"); }
  .container.snow .row #zoo .grid .row:last-child .tile:last-child {
    background-image: url("../images/Snow/border/bottom_right.png"); }

monster-configurator {
  display: flex;
  flex-flow: column; }
  monster-configurator .monster-icon {
    width: 100px;
    margin: auto;
    margin-bottom: 20px; }
  monster-configurator label {
    font-family: pixel;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
    font-size: 10px; }
  monster-configurator select,
  monster-configurator input {
    display: block;
    font-family: pixel;
    padding: 5px 10px;
    border-radius: 0;
    border: 2px solid #676767;
    width: 100%;
    line-height: 2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #B3B3B3;
    text-transform: uppercase;
    font-size: 16px;
    color: #424242;
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px; }
  monster-configurator select {
    background-image: url("../images/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: right .7em top 50%, 0 0; }
  monster-configurator .btn-container {
    display: flex; }
  monster-configurator button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-family: pixel;
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid #676767;
    background-color: #F5F5C8;
    font-size: 16px; }
    monster-configurator button#configurator-save-btn {
      width: 100%;
      margin-left: 10px; }

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-size: 64px; }
  .container.fade-out {
    animation: fade-out 300ms;
    animation-fill-mode: forwards; }
  .container.fade-in {
    animation: fade-in 300ms;
    animation-fill-mode: forwards; }

@keyframes fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .container .row {
    display: flex; }
    .container .row.main-header {
      justify-content: center;
      flex: 0 1 64px; }
    .container .row.main-row {
      flex: 1 1 auto; }
    .container .row.main-footer {
      flex: 0 1 64px;
      justify-content: center; }
    .container .row * {
      box-sizing: border-box; }
    .container .row #configurator {
      width: 25%;
      border-left: 0;
      margin-left: 0; }
    .container .row #statistics {
      width: 25%;
      position: relative;
      overflow: hidden; }
      .container .row #statistics #statistics-content {
        position: absolute;
        right: calc(-100% - 5px - 5px);
        width: 100%;
        transition: 0.5s ease;
        margin-right: 0;
        border-right: 0; }
        .container .row #statistics #statistics-content.show {
          right: -10px; }
    .container .row #zoo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow-x: auto;
      background-size: 64px; }
      .container .row #zoo .grid {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container .row #zoo .grid .row {
          display: flex; }
          .container .row #zoo .grid .row .tile {
            width: 64px;
            height: 64px;
            text-align: center;
            line-height: 64px; }
            .container .row #zoo .grid .row .tile img {
              pointer-events: none;
              user-select: none; }
