/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.side-box {
  background-color: #F6F6F6;
  position: relative;
  border: 10px solid #5E546F;
  padding: 20px;
  margin: 20px; }
  .side-box:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 5px solid #7574BD; }
  .side-box:after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 5px solid black; }

.container.forest {
  background-image: url("../images/Forest/background.png"); }
  .container.forest .row #zoo .grid .row .tile {
    background-image: url("../images/Forest/tile.png");
    background-size: 64px; }
    .container.forest .row #zoo .grid .row .tile.obstacle-1 {
      background-image: url("../images/Forest/obstacle1.png"); }
    .container.forest .row #zoo .grid .row .tile.obstacle-2 {
      background-image: url("../images/Forest/obstacle2.png"); }
    .container.forest .row #zoo .grid .row .tile.obstacle-3 {
      background-image: url("../images/Forest/obstacle3.png"); }
  .container.forest .row #zoo .grid .row .tile:nth-child(1) {
    background-image: url("../images/Forest/border/left.png"); }
  .container.forest .row #zoo .grid .row .tile:last-child {
    background-image: url("../images/Forest/border/right.png"); }
  .container.forest .row #zoo .grid .row:nth-child(1) .tile {
    background-image: url("../images/Forest/border/top.png"); }
  .container.forest .row #zoo .grid .row:nth-child(1) .tile:nth-child(1) {
    background-image: url("../images/Forest/border/top_left.png"); }
  .container.forest .row #zoo .grid .row:nth-child(1) .tile:last-child {
    background-image: url("../images/Forest/border/top_right.png"); }
  .container.forest .row #zoo .grid .row:last-child .tile {
    background-image: url("../images/Forest/border/bottom.png"); }
  .container.forest .row #zoo .grid .row:last-child .tile:nth-child(1) {
    background-image: url("../images/Forest/border/bottom_left.png"); }
  .container.forest .row #zoo .grid .row:last-child .tile:last-child {
    background-image: url("../images/Forest/border/bottom_right.png"); }

.container.desert {
  background-image: url("../images/Desert/background.png"); }
  .container.desert .row #zoo .grid .row .tile {
    background-image: url("../images/Desert/tile.png");
    background-size: 64px; }
    .container.desert .row #zoo .grid .row .tile.obstacle-1 {
      background-image: url("../images/Desert/obstacle1.png"); }
    .container.desert .row #zoo .grid .row .tile.obstacle-2 {
      background-image: url("../images/Desert/obstacle2.png"); }
    .container.desert .row #zoo .grid .row .tile.obstacle-3 {
      background-image: url("../images/Desert/obstacle3.png"); }
  .container.desert .row #zoo .grid .row .tile:nth-child(1) {
    background-image: url("../images/Desert/border/left.png"); }
  .container.desert .row #zoo .grid .row .tile:last-child {
    background-image: url("../images/Desert/border/right.png"); }
  .container.desert .row #zoo .grid .row:nth-child(1) .tile {
    background-image: url("../images/Desert/border/top.png"); }
  .container.desert .row #zoo .grid .row:nth-child(1) .tile:nth-child(1) {
    background-image: url("../images/Desert/border/top_left.png"); }
  .container.desert .row #zoo .grid .row:nth-child(1) .tile:last-child {
    background-image: url("../images/Desert/border/top_right.png"); }
  .container.desert .row #zoo .grid .row:last-child .tile {
    background-image: url("../images/Desert/border/bottom.png"); }
  .container.desert .row #zoo .grid .row:last-child .tile:nth-child(1) {
    background-image: url("../images/Desert/border/bottom_left.png"); }
  .container.desert .row #zoo .grid .row:last-child .tile:last-child {
    background-image: url("../images/Desert/border/bottom_right.png"); }

.container.snow {
  background-image: url("../images/Snow/background.png"); }
  .container.snow .row #zoo .grid .row .tile {
    background-image: url("../images/Snow/tile.png");
    background-size: 64px; }
    .container.snow .row #zoo .grid .row .tile.obstacle-1 {
      background-image: url("../images/Snow/obstacle1.png"); }
    .container.snow .row #zoo .grid .row .tile.obstacle-2 {
      background-image: url("../images/Snow/obstacle2.png"); }
    .container.snow .row #zoo .grid .row .tile.obstacle-3 {
      background-image: url("../images/Snow/obstacle3.png"); }
  .container.snow .row #zoo .grid .row .tile:nth-child(1) {
    background-image: url("../images/Snow/border/left.png"); }
  .container.snow .row #zoo .grid .row .tile:last-child {
    background-image: url("../images/Snow/border/right.png"); }
  .container.snow .row #zoo .grid .row:nth-child(1) .tile {
    background-image: url("../images/Snow/border/top.png"); }
  .container.snow .row #zoo .grid .row:nth-child(1) .tile:nth-child(1) {
    background-image: url("../images/Snow/border/top_left.png"); }
  .container.snow .row #zoo .grid .row:nth-child(1) .tile:last-child {
    background-image: url("../images/Snow/border/top_right.png"); }
  .container.snow .row #zoo .grid .row:last-child .tile {
    background-image: url("../images/Snow/border/bottom.png"); }
  .container.snow .row #zoo .grid .row:last-child .tile:nth-child(1) {
    background-image: url("../images/Snow/border/bottom_left.png"); }
  .container.snow .row #zoo .grid .row:last-child .tile:last-child {
    background-image: url("../images/Snow/border/bottom_right.png"); }

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-size: 64px; }
  .container .row {
    display: flex; }
    .container .row.main-header {
      justify-content: center;
      flex: 0 1 64px; }
    .container .row.main-row {
      flex: 1 1 auto; }
    .container .row.main-footer {
      flex: 0 1 64px;
      justify-content: center; }
    .container .row * {
      box-sizing: border-box; }
    .container .row #configurator {
      width: 25%;
      border-left: 0;
      margin-left: 0; }
    .container .row #statistics {
      width: 25%;
      position: relative;
      overflow: hidden; }
      .container .row #statistics #statistics-content {
        position: absolute;
        right: calc(-100% - 5px - 5px);
        width: 100%;
        transition: 0.5s ease;
        margin-right: 0;
        border-right: 0; }
        .container .row #statistics #statistics-content.show {
          right: -10px; }
    .container .row #zoo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow-x: auto;
      background-size: 64px; }
      .container .row #zoo .grid {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .container .row #zoo .grid .row {
          display: flex; }
          .container .row #zoo .grid .row .tile {
            width: 64px;
            height: 64px;
            text-align: center;
            line-height: 64px; }
